<div class=" border-yellow-500 shadow-[4px_4px_0_0_#c5c022] max-w-5xl mx-auto p-8 bg-slate-900  border-2  ">

  <div class="flex justify-between items-end mb-8 border-b border-slate-700 pb-6">
    <div>
      <h2 class="text-3xl font-mario text-white mb-2">Simplex Setup</h2>
      <p class="text-slate-400 text-sm">Enter the coefficients for your problem.</p>
    </div>

    <div class="flex items-center space-x-4 bg-slate-800 p-2 rounded-lg border border-slate-600">
      <span class="text-slate-300 text-sm font-bold ml-2 uppercase tracking-wider">Variables:</span>
      <button (click)="updateVarCount(-1)" class="w-10 h-10 rounded bg-slate-700 text-white font-bold hover:bg-red-400 transition">-</button>
      <span class="text-2xl font-mario text-blue-400 font-bold w-6 text-center">{{ numVars() }}</span>
      <button (click)="updateVarCount(1)" class="w-10 h-10 rounded bg-slate-700 text-white font-bold hover:bg-blue-400 transition">+</button>
    </div>
  </div>

  <div class="mb-10 p-6 bg-slate-800/50 rounded-xl border border-blue-400/30">
    <label class="block text-blue-400 font-bold mb-4 uppercase text-sm tracking-wider">Objective Function </label>

    <div class="flex flex-wrap items-center gap-4">
      <select [(ngModel)]="objectiveType" (ngModelChange)="objectiveType.set($event)"
              class="bg-blue-600 text-white font-mario text-sm py-3 px-4 border-4 border-black shadow-[4px_4px_0_0_#000] outline-none cursor-pointer focus:border-yellow-400">
        <option value="MAX">Maximize</option>
        <option value="MIN">Minimize</option>
      </select>
      <span class="text-2xl font-mario text-white font-bold mx-2">Z =</span>

      @for (varName of variableNames(); track $index) {
        <div class="flex items-center space-x-2">
          <input type="number"
                 [(ngModel)]="objective()[$index]"
                 class="w-24 bg-black text-white text-center font-mario text-sm py-3 border-4 border-slate-600 shadow-[4px_4px_0_0_#000] focus:border-green-500 focus:shadow-[4px_4px_0_0_#22c55e] outline-none transition-none">
          <span class=" pl-1 text-emerald-400 font-mario text-xl">{{ varName }}</span>
          @if ($index < numVars() - 1) { <span class="text-slate-500 font-bold text-xl">+</span> }
        </div>
      }
    </div>
  </div>

  <div class="mb-8">
    <div class="flex justify-between items-end mb-4">
      <h3 class="text-xl font-bold text-slate-300">Constraints</h3>
      <button (click)="addConstraint()" class="text-blue-500 font-mario cursor-pointer hover:text-white transition flex items-center text-sm bg-slate-800 px-3 py-1 rounded border border-slate-700 hover:border-blue-400">
        <span class="mr-2 font-mario text-lg">+</span> Add Constraint
      </button>
    </div>

    <div class="space-y-4">
      @for (constraint of constraints(); track $index; let i = $index) {
        <div class="flex flex-wrap items-center gap-3 p-4 bg-slate-800 rounded-xl border border-slate-700 group relative">

          @for (varName of variableNames(); track $index; let j = $index) {
            <div class="flex items-center space-x-2">
              <input type="number"
                     [(ngModel)]="constraint.coefs[j]"
                     class="w-24 bg-black text-white text-center font-mario text-sm py-3 border-4 border-slate-600 shadow-[4px_4px_0_0_#000] focus:border-green-500 focus:shadow-[4px_4px_0_0_#22c55e] outline-none transition-none">
              <span class="text-emerald-400 font-mario pl-1 text-lg">{{ varName }}</span>
              @if (j < numVars() - 1) { <span class="text-slate-500 font-bold text-xl">+</span> }
            </div>
          }

          <select [(ngModel)]="constraint.sign"
                  class="ml-4 bg-yellow-400/80 text-black font-mario text-sm py-2 px-3 border-4 border-black shadow-[4px_4px_0_0_#000] outline-none cursor-pointer focus:border-green-500 focus:shadow-[4px_4px_0_0_#22c55e] transition-none appearance-none text-center w-16">
            <option value="<="><=</option>
            <option value=">=">>=</option>
            <option value="=">=</option>
          </select>

          <input type="number"
                 [(ngModel)]="constraint.rhs"
                 class="w-24 ml-5 bg-black text-white text-center font-mario text-sm py-3 border-4 border-slate-600 shadow-[4px_4px_0_0_#000] focus:border-green-500 focus:shadow-[4px_4px_0_0_#22c55e] outline-none transition-none">

          <button (click)="removeConstraint(i)" class="absolute -right-4 -top-4 bg-slate-800 border border-slate-600 text-slate-400 hover:text-red-400 hover:border-red-400 transition rounded-full w-8 h-8 flex items-center justify-center opacity-0 group-hover:opacity-100 shadow-lg">
            &#10006;
          </button>
        </div>
      }
    </div>
  </div>
  <div class="mb-8 p-6 bg-slate-800/50 rounded-xl border border-slate-700">
    <label class="block text-emerald-400 font-mario mb-4 uppercase text-sm tracking-wider">Variable Conditions</label>

    <div class="flex flex-wrap gap-4">
      @for (varName of variableNames(); track $index) {
        <div class="flex items-center space-x-3 bg-slate-900 px-4 py-2 rounded-lg border border-slate-600 transition-all">
          <span class="pt-4 pb-4 text-emerald-400 font-mario text-lg">{{ varName }}</span>

          <select [(ngModel)]="variableBounds()[$index]"
                  class= "pr-5 bg-yellow-400/80 text-white font-mario text-sm py-3 px-4 border-4 border-black shadow-[4px_4px_0_0_#000] outline-none cursor-pointer focus:border-green-500 focus:shadow-[4px_4px_0_0_#22c55e]">
            <option value=">= 0"> >= </option>
            <option value="= 0">Unrestricted (URS)</option>
          </select>
        </div>
      }
    </div>
  </div>
  <button (click)="solve()"
          [disabled]="isLoading()"
          class="w-full py-5 bg-red-400 text-black font-mario text-xl border-4 border-black shadow-[6px_6px_0_0_#000] uppercase tracking-widest transition-none mt-6
         enabled:hover:translate-x-[2px] enabled:hover:translate-y-[2px] enabled:hover:shadow-[4px_4px_0_0_#000]
         enabled:active:translate-x-[6px] enabled:active:translate-y-[6px] enabled:active:shadow-none
         disabled:bg-slate-600 disabled:text-slate-400 disabled:shadow-none disabled:translate-x-[6px] disabled:translate-y-[6px] disabled:cursor-not-allowed">
    {{ isLoading() ? 'CALCULATING...' : 'CALCULATE MATRIX' }}
  </button>

</div>
